body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D8B4E2;
    font-family: sans-serif;
    color: #55286F;
    margin: 0;
}

#map {
    height: 100vh;
    width: 100vw;
}